name: Publish Node.js Package

on:
  push:
    tags:
      - "v*" # Triggers on all tags

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    env:
      ODDS_PORTAL_PROXY_URL: ${{ secrets.ODDS_PORTAL_PROXY_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci
          npx playwright install  

      - name: Link CLI locally
        run: npm link

      - name: Run tests
        run: npm test

      - name: Publish package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
        run: npm publish

      - name: Notify success
        if: success()
        run: echo "Package published successfully!"
